@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&family=Gruppo&family=Inika:wght@400;700&family=Jacques+Francois&family=Just+Another+Hand&family=Kaisei+Opti&family=Kufam:ital,wght@0,400..900;1,400..900&family=Life+Savers:wght@400;700;800&family=M+PLUS+2:wght@100..900&family=Maven+Pro:wght@400..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: linear-gradient(90deg, #FFECD2 30%, #FCB69F); 
}
header{
    background-image: linear-gradient(90deg, #FFECD2 30%, #FCB69F); 
    /* background-image: linear-gradient(150deg, #FFA500 30%, #ebd007);  */
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
}
.logo{
    margin-top: -22px;
    margin-left: -16px;
}

.logo h2{
    margin-left: 30px;
    margin-top: -14px;
    color: #292F36;
    font-family: "M PLUS 2", sans-serif;
}

#log{
    margin-left: 13px;
}

.navbar{
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.nav-menu ul li a{
    text-decoration: none;
    color: rgb(20, 18, 18);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 20px;

}

.nav-menu ul li:hover{
    transform: scale(1.1);
}

.nav-menu ul li a:hover{
    color: white;
    
   
}

.couns{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 20px;

}
.counselor-section {
    text-align: center;
    margin-top: 15px;
}

.counselor {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
    margin-left: 5px;
}

.counselor-info {
    width: 360px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.counselor-info img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.counselor-info h3 {
    font-size: 20px;
    color: #024372;
    margin-bottom: 10px;
}

.counselor-info p {
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    margin-bottom: 20px;
}

.appoint-btn {
    padding: 10px 20px;
    background-color: #FFA500;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.appoint-btn:hover {
    background-color: #ff8500;
}

.image{
    height: 317px;
}

